# Configuración de la base de datos para Docker Compose
POSTGRES_DB=steamlike
POSTGRES_USER=usuario
POSTGRES_PASSWORD=password

# Otras configuraciones necesarias
# API_KEY=tu_api_key_aqui
REDIS_URL=redis://redis:6379/1
